# Pet Project: booking

#### 1. Импорт необходимых библиотек

In [1]:
import pandas as pd

#### 2. Загрузка датасета

In [2]:
bookings = pd.read_csv('bookings.csv', sep=';')

**Описание данных:**

**Hotel** – тип отеля (City Hotel или Resort Hotel)
**Is canceled** – бронирование было отменено (1) или нет (0); неотменённое считается успешным
**Lead time** – количество дней, прошедших между датой бронирования и датой прибытия
**Arrival full date** – полная дата прибытия
**Arrival date year** – год прибытия
**Arrival date month** – месяц прибытия
**Arrival date week number** – номер недели прибытия
**Arrival date day of month** – день прибытия
**Stays in weekend nights** – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
**Stays in week nights** – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
**Stays total nights** – общее число забронированных ночей (сумма двух предыдущих колонок)
**Adults** – число взрослых
**Children** – число детей
**Babies** – число младенцев
**Meal** – выбранный тип питания
**Country** – страна происхождения клиента
**Reserved room type** – тип зарезервированного номера
**Assigned room type** – тип полученного номера (может отличаться от забронированного)
**Customer type** – тип бронирования
**Reservation status** – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
**Reservation status date** – дата обновления статуса

##### 2.1 Первичный анализ данных

In [3]:
bookings_head = bookings.head(7)

In [4]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [5]:
rows, columns = bookings.shape
print(f'{rows = }, {columns = }')

rows = 119390, columns = 21

In [6]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [7]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [ ]:
'''bookings = bookings.rename(columns={'Hotel': 'hotel', 'Is Canceled': 'is_canceled', 'Lead Time': 'lead_time',
                         'arrival full date': 'arrival_full_date', 'Arrival Date Year': 'arrival_date_year',
                         'Arrival Date Month': 'arrival_date_month', 'Arrival Date Week Number': 'arrival_date_week_number',
                         'Arrival Date Day of Month': 'arrival_date_day_of_month',
                         'Stays in Weekend nights': 'stays_in_weekend_nights', 'Stays in week nights': 'stays_in_week_nights',
                         'stays total nights': 'stays_total_nights', 'Adults' : 'adults', 'Children': 'children',
                         'Babies': 'babies', 'Meal': 'meal', 'Country': 'country', 'Reserved Room Type': 'reserved_room_type',
                         'Assigned room type': 'assigned_room_type', 'customer type': 'customer_type',
                         'Reservation Status': 'reservation_status', 'Reservation status_date':'reservation_status_date'})'''

In [ ]:
for i in bookings.columns:
    print(i)

In [9]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [10]:
rename_columns = {}
for i in bookings.columns:
    rename_columns[i] = i.replace(' ', '_').lower()

In [11]:
rename_columns

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [12]:
bookings = bookings.rename(columns=rename_columns)

In [15]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03