# Pet Project: booking

### 1. Импорт необходимых библиотек

In [29]:
import pandas as pd

### 2. Загрузка датасета

In [30]:
bookings = pd.read_csv('bookings.csv', sep=';')

**Описание данных:**

**Hotel** – тип отеля (City Hotel или Resort Hotel)
**Is canceled** – бронирование было отменено (1) или нет (0); неотменённое считается успешным
**Lead time** – количество дней, прошедших между датой бронирования и датой прибытия
**Arrival full date** – полная дата прибытия
**Arrival date year** – год прибытия
**Arrival date month** – месяц прибытия
**Arrival date week number** – номер недели прибытия
**Arrival date day of month** – день прибытия
**Stays in weekend nights** – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
**Stays in week nights** – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
**Stays total nights** – общее число забронированных ночей (сумма двух предыдущих колонок)
**Adults** – число взрослых
**Children** – число детей
**Babies** – число младенцев
**Meal** – выбранный тип питания
**Country** – страна происхождения клиента
**Reserved room type** – тип зарезервированного номера
**Assigned room type** – тип полученного номера (может отличаться от забронированного)
**Customer type** – тип бронирования
**Reservation status** – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
**Reservation status date** – дата обновления статуса

#### 2.1 EDA (Первичный/Исследовательский анализ данных)

In [31]:
bookings_head = bookings.head(7)

In [32]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

##### Количество строк и колонок

In [33]:
rows, columns = bookings.shape
print(f'{rows = }, {columns = }')

rows = 119390, columns = 21

##### Большинство переменных относятся к **int64** и **object**

In [34]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

#### 2.2 Preprocessing (Предварительная обработка)

In [35]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

##### Приведение названий колонок к нижнему регистру и замена пробелов на знаки нижнего подчёркивания

In [36]:
rename_columns = {}
for i in bookings.columns:
    rename_columns[i] = i.replace(' ', '_').lower()

In [37]:
rename_columns

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [38]:
bookings = bookings.rename(columns=rename_columns)

In [39]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [40]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [41]:
bookings_head = bookings.head(7)

#### 2.3 Data research (Исследование данных)

##### Пользователи стран, которые совершили наибольшее количество успешных бронирований, топ стран по убыванию:

In [42]:
bookings.loc[bookings.is_canceled == 0].country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
BHR        1
DJI        1
MLI        1
NPL        1
FRO        1
Name: country, Length: 165, dtype: int64

In [43]:
(bookings.query('is_canceled == 0')
    .groupby('country')
    .country.count()
    .sort_values(ascending=False))

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
SMR        1
MLI        1
SLE        1
MAC        1
PLW        1
Name: country, Length: 165, dtype: int64

##### На сколько в среднем бронируют отели типа **City Hotel** и **Resort Hotel**:

In [44]:
bookings.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

In [45]:
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

##### Количество наблюдений, в которых тип номера, полученного клиентом отличается от изначального, по причине овербукинга или отмены бронирования:

In [46]:
bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type]  # ДФ, где РАЗНЫЕ забронированные номера

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [47]:
len(bookings.loc[bookings.reserved_room_type != bookings.assigned_room_type])  # Длина данного ДФ = количеству наблюдений, в которых тип номера отличается от изначального.

14917

In [48]:
bookings_head

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

##### На какой месяц чаще всего оформляли бронь в 2016 году:

In [49]:
(bookings.query('arrival_date_year == 2016')
        .groupby('arrival_date_month')
        .arrival_date_month.count()
        .sort_values(ascending=False))

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

##### В 2017 изменился самый популярный месяц в году (октябрь2016 → май2017):

In [50]:
(bookings.query('arrival_date_year == 2017')
        .groupby('arrival_date_month')
        .arrival_date_month.count()
        .sort_values(ascending=False))

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [51]:
(bookings.query('arrival_date_year == 2017')
        .groupby('arrival_date_month')
        .agg({'arrival_date_year': 'count'})
        .sort_values(by='arrival_date_year',ascending=False))

                    arrival_date_year
arrival_date_month
May                              6313
April                            5661
June                             5647
July                             5313
March                            4970
August                           4925
February                         4177
January                          3681

In [52]:
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

##### На какой месяц бронирования отеля типа **City Hotel** отменялись чаще всего в 2015, 2016, 2017?

In [53]:
(bookings.query('hotel == "City Hotel"')
        .groupby(['arrival_date_year','arrival_date_month'])
        .is_canceled.sum()
        .groupby('arrival_date_year').nlargest(1))

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             1543
2016               2016               October               1947
2017               2017               May                   2217
Name: is_canceled, dtype: int64

In [54]:
(bookings.query('arrival_date_year == 2017 and hotel == "City Hotel"')
        .groupby('arrival_date_month')
        .sum()
        .sort_values(by='is_canceled', ascending=False))

C:\Users\Zetis\AppData\Local\Temp\ipykernel_11352\4209299486.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
arrival_date_month,,,,,,,,,,,
May,2217,531798,9189452,90284,71988,3430,9607,13037,8287,235.0,10
April,1926,418916,7904623,60909,62891,3693,8821,12514,7619,448.0,13
June,1808,523171,8009507,95970,61036,3134,9049,12183,7507,347.0,11
July,1324,590484,7178503,101573,56231,3382,8074,11456,7073,574.0,12
March,1278,285976,6882004,37868,54045,2493,7867,10360,6259,165.0,16
August,1123,460330,6303125,102983,49235,2746,7879,10625,6240,604.0,19
January,1044,156040,4784324,6276,36517,1949,5537,7486,4178,244.0,14
February,971,168860,5232098,18283,39733,2253,5822,8075,4722,305.0,18

##### Колонка имеющая наибольшее среднее значение из: **adults**, **children**, **babies**

In [55]:
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [56]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

##### Создание колонки, которая показывает общее количество детей

In [57]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

##### Вывод среднего значения детей, округлённого до 2 знака после запятой:

In [58]:
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

#### Подсчёт коэффициента оттока

In [59]:
cancelled_trips = bookings.query('is_canceled == 1').shape[0]  # Количество отменённых поездок

In [60]:
successful_trips = rows - cancelled_trips  # Количество успешных поездок

In [61]:
successful_trips

75166

In [62]:
churn_rate = round(cancelled_trips / rows * 100, 2) # Коэффициент оттока - процент клиентов, которые отменили бронирование

In [63]:
churn_rate # Коэффициент оттока - процент клиентов, которые отменили бронирование

37.04

In [64]:
bookings['has_kids'] = bookings.total_kids > 0  # Создание колонки, если ПРИСУТСТВУЮТ дети, то 1, иначе 0

In [65]:
no_kids_churn = (round(bookings.query('has_kids == False and is_canceled == 1').shape[0]
                       / bookings.query('has_kids == False').shape[0] * 100, 2))

In [66]:
no_kids_churn  # Процент оттока людей БЕЗ ДЕТЕЙ (отменённое бронирование)

37.22

In [67]:
yes_kids_churn = (round(bookings.query('has_kids == True and is_canceled == 1').shape[0]
                       / bookings.query('has_kids == True').shape[0] * 100, 2))

In [68]:
yes_kids_churn  # Процент оттока людей С ДЕТЬМИ (отменённое бронирование)

34.92