In [1]:
import pandas as pd
import numpy as np

In [2]:
names = 'Name1 Surname1, Name2 Surname2,'

In [5]:
names_list = names.split(',')

In [6]:
names_list

['Name1 Surname1', ' Name2 Surname2', '']

In [4]:
df = pd.DataFrame({'client_id': np.random.randint(1, 10000, 30),
                                'sex': np.random.choice([0, 1], 30),
                                'wealth': np.random.choice(['low', 'medium', 'high'], 30),
                                'age': np.random.randint(20, 70, 30)})

In [5]:
df

    client_id  sex  wealth  age
0        2717    0     low   26
1        1366    1     low   51
2        2198    0    high   45
3        9278    0    high   37
4        2887    1    high   22
5        4957    0     low   55
6        3337    1     low   29
7        3136    0    high   52
8        1083    0     low   54
9        7329    0  medium   55
10       6706    0     low   46
11       5157    1  medium   59
12       1427    0  medium   65
13       1674    0  medium   41
14       1250    1     low   34
15       6110    0     low   30
16       6069    0     low   66
17       9025    0  medium   36
18       1213    1    high   20
19       3309    0  medium   56
20       7152    0     low   27
21       8006    0  medium   49
22       6263    1     low   29
23       8547    1    high   59
24       5873    0  medium   58
25       4113    0     low   36
26       9248    1    high   24
27       9291    0    high   69
28       2442    0    high   32
29       8808    1    high   24

In [7]:
medium_35 = df.loc[(df.wealth == 'medium') & (df.age > 35)]

In [8]:
medium_35

    client_id  sex  wealth  age
9        7329    0  medium   55
11       5157    1  medium   59
12       1427    0  medium   65
13       1674    0  medium   41
17       9025    0  medium   36
19       3309    0  medium   56
21       8006    0  medium   49
24       5873    0  medium   58

In [9]:
medium_36 = df.query('wealth == "medium" and age > 35')

In [10]:
medium_36

    client_id  sex  wealth  age
9        7329    0  medium   55
11       5157    1  medium   59
12       1427    0  medium   65
13       1674    0  medium   41
17       9025    0  medium   36
19       3309    0  medium   56
21       8006    0  medium   49
24       5873    0  medium   58

In [11]:
df1 = df.rename(columns={'client_id': 'Клиент id', 'sex': 'Пол', 'wealth': 'Благосостояние', 'age': 'Возраст'})

In [12]:
df1

    Клиент id  Пол Благосостояние  Возраст
0        2717    0            low       26
1        1366    1            low       51
2        2198    0           high       45
3        9278    0           high       37
4        2887    1           high       22
5        4957    0            low       55
6        3337    1            low       29
7        3136    0           high       52
8        1083    0            low       54
9        7329    0         medium       55
10       6706    0            low       46
11       5157    1         medium       59
12       1427    0         medium       65
13       1674    0         medium       41
14       1250    1            low       34
15       6110    0            low       30
16       6069    0            low       66
17       9025    0         medium       36
18       1213    1           high       20
19       3309    0         medium       56
20       7152    0            low       27
21       8006    0         medium       49
22       6263    1            low       29
23       8547    1           high       59
24       5873    0         medium       58
25       4113    0            low       36
26       9248    1           high       24
27       9291    0           high       69
28       2442    0           high       32
29       8808    1           high       24

In [13]:
df2 = df1.rename(columns={'Клиент id': 'client_id',
                          'Пол': 'sex',
                          'Благосостояние': 'wealth',
                          'Возраст': 'age'})

In [14]:
df2

    client_id  sex  wealth  age
0        2717    0     low   26
1        1366    1     low   51
2        2198    0    high   45
3        9278    0    high   37
4        2887    1    high   22
5        4957    0     low   55
6        3337    1     low   29
7        3136    0    high   52
8        1083    0     low   54
9        7329    0  medium   55
10       6706    0     low   46
11       5157    1  medium   59
12       1427    0  medium   65
13       1674    0  medium   41
14       1250    1     low   34
15       6110    0     low   30
16       6069    0     low   66
17       9025    0  medium   36
18       1213    1    high   20
19       3309    0  medium   56
20       7152    0     low   27
21       8006    0  medium   49
22       6263    1     low   29
23       8547    1    high   59
24       5873    0  medium   58
25       4113    0     low   36
26       9248    1    high   24
27       9291    0    high   69
28       2442    0    high   32
29       8808    1    high   24

In [15]:
df['older_than_30'] = df.age > 30

In [16]:
df

    client_id  sex  wealth  age  older_than_30
0        2717    0     low   26          False
1        1366    1     low   51           True
2        2198    0    high   45           True
3        9278    0    high   37           True
4        2887    1    high   22          False
5        4957    0     low   55           True
6        3337    1     low   29          False
7        3136    0    high   52           True
8        1083    0     low   54           True
9        7329    0  medium   55           True
10       6706    0     low   46           True
11       5157    1  medium   59           True
12       1427    0  medium   65           True
13       1674    0  medium   41           True
14       1250    1     low   34           True
15       6110    0     low   30          False
16       6069    0     low   66           True
17       9025    0  medium   36           True
18       1213    1    high   20          False
19       3309    0  medium   56           True
20       7152    0     low   27          False
21       8006    0  medium   49           True
22       6263    1     low   29          False
23       8547    1    high   59           True
24       5873    0  medium   58           True
25       4113    0     low   36           True
26       9248    1    high   24          False
27       9291    0    high   69           True
28       2442    0    high   32           True
29       8808    1    high   24          False

In [18]:
unique_num = df.nunique()

In [19]:
unique_num

client_id        30
sex               2
wealth            3
age              25
older_than_30     2
dtype: int64

In [26]:
def read_n_agg(path):
    df = pd.read_csv(path, sep=';')
    mean = df.groupby('company').agg({'income': 'mean'})
    return mean

In [20]:
df_f = pd.read_csv('companies.csv', sep=';')

In [21]:
df_f

                                  company       income        date
0    ЗАО «Доронин, Колобов и Калашникова»   1221331958  2019-09-09
1                            ООО «Авдеев»  21116804375  1972-12-21
2                  РАО «Аксенов Сорокина»  79257158759  2007-03-05
3                  Ларионов Инкорпорэйтед  36799366126  2011-08-11
4                 Григорьев Инкорпорэйтед  48201837498  1989-09-02
..                                    ...          ...         ...
288                            Сэтл групп   6152279994  2004-03-30
289                  ОАО «Горшков Чернов»  26623978007  2004-03-30
290                          НПО «Фадеев»  84314056422  1998-09-03
291                    Петролеум Трейдинг  95528839292  1975-01-31
292                         ОАО «Жданова»  40620723709  2016-04-19

[293 rows x 3 columns]

In [22]:
df_f.groupby('company').agg({'income': 'mean'})

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]

In [25]:
read_n_agg('companies.csv')

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]