## Импорт библиотек

In [2]:
import pandas as pd

## Загрузка данных

In [3]:
user_data = pd.read_csv('user_data.csv')
logs = pd.read_csv('logs.csv')

## EDA

### Описание данных
#### user_data:
client – идентификатор пользователя
premium – является ли клиент премиальным
age – возраст


#### logs:
client – идентификатор пользователя
success – результат (успех – 1, нет – 0)
platform – платформа
time – время в формате Unix

In [4]:
user_data.head()

   client  premium  age
0   46346    False   58
1    4391    False   55
2   27372    False   64
3   11989    False   44
4   60664    False   49

In [5]:
user_data.shape

(2954, 3)

In [8]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2954 entries, 0 to 2953
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   client   2954 non-null   int64
 1   premium  2954 non-null   bool
 2   age      2954 non-null   int64
dtypes: bool(1), int64(2)
memory usage: 49.2 KB

In [6]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629

In [7]:
logs.shape

(4500, 4)

In [9]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   client    4500 non-null   int64
 1   success   4500 non-null   bool
 2   platform  4500 non-null   object
 3   time      4500 non-null   int64
dtypes: bool(1), int64(2), object(1)
memory usage: 110.0+ KB

## Задачи

#### Сколько уникальных значений в переменной platform?

In [12]:
logs.platform.nunique()

3

#### Какой клиент совершил больше всего успешных операций?

In [21]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629

In [47]:
success_number = (logs.query('success == True')
 .groupby('client', as_index=False)
 .agg({'platform': 'count'})
 .rename(columns={'platform': 'success_number'})
 .sort_values(by='success_number', ascending=False))

In [67]:
successful_clients = (success_number.query('success_number == 41')
                      .sort_values('client')
                      .client
                      .tolist())

In [68]:
successful_clients

[12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584]