In [2]:
import pandas as pd
from datetime import datetime

### 1. Считывание данных

##### Датафрейм о заработке с разных курсов

In [3]:
df = pd.read_csv('lesson_1_data.csv', encoding='windows-1251', sep=';')

In [4]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [5]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [6]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

### 2. Методы и атрибуты

In [7]:
df.shape  # Строки и колонки ДФ (Атрибут)

(292, 8)

In [8]:
df.dtypes  # Типы колонок в ДФ

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [9]:
df.describe()  # Описание для количественных переменных (МЕТОД)
# Число строк, среднее значение, стандартное отклонение, минимум, квартили 25, 50(медиана), 75, максимум

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [10]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [11]:
df = df.rename(columns={'Номер': 'number',
                        'Дата создания': 'create_date',
                        'Дата оплаты': 'payment_date',
                        'Title': 'title',
                        'Статус': 'status',
                        'Заработано': 'money',
                        'Город': 'city',
                        'Платежная система': 'payment_system'})

In [12]:
df.head()

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [13]:
df[['title', 'status']].head()

                         title    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

### 3. Группировка, агрегация, сортировка данных

In [14]:
all_money = df.money.sum()  # Создадим переменную со всеми заработанными деньгами с курсов, во избежания ошибок в расчётах

In [15]:
all_money

992103.5900000001

### Суть задачи:
**Найти:** 1)суммарное количество всех денег по каждому из курсов 2)Проранжировать курсы по количеству заработанных денег 3)Разбить по городам

In [30]:
(df.groupby('title', as_index=False)
 .aggregate({'money': 'sum'})
 .sort_values('money', ascending=False))

# 1. Группируем по колонке title
# 2. Агрегируем(применяем функцию) по суммированию количества денег
# 3. ДОП. прописываем as_index=False, чтобы title была колонкой, а не индексом
# 4. Сортируем значения по количеству Денег, ascending=False - от БОЛЬШЕГО к Меньшему'''
# 5. ДОП. перенести действия на разные строки с помощью скобок или \

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [31]:
money_by_city = (df.groupby(['title', 'city'], as_index=False)
    .aggregate({'money': 'sum'})
    .sort_values('money', ascending=False))

# 6. Добавляем группировку по городу (помимо названия курса)
# 7. Сохраним полученные данные в переменную money_by_city

In [18]:
money_by_city

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [19]:
money_by_city.to_csv('money_by_city.csv', encoding='windows-1251', index=False)
# 8. Сохраним полученные данные в csv файл

##### Задача: посчитать сколько суммарно было денег, сколько было завершённых заказов

In [34]:
(df.groupby('title', as_index=False)
    .aggregate({'money': 'sum', 'number': 'count'})
    .sort_values('money', ascending=False))
# В запрос попали все заказы, даже те, где статус заказа НЕ завершён и количество денег: 0

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     182
0                        Курс обучения «Консультант»  208163.49      52
1                         Курс обучения «Специалист»  160862.64      12
2                            Курс обучения «Эксперт»  148992.80      22
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92      15
3                   Курс от Школы Диетологов. Бизнес   18752.54       9

In [32]:
money_title = (df.query('status == "Завершен"')
    .groupby('title', as_index=False)
    .aggregate({'money': 'sum', 'number': 'count'})
    .sort_values('money', ascending=False)
    .rename(columns={'number': 'success_orders'}))
# Запрос query пишется в виде строки, и используются двойные кавычки""
# Итого: было подсчитано количество заказов только для тех строк, где статус "Завершен", то есть успешно завершённых
# Переименуем колонку number в success_orders (успешные заказы)
# Сохраним полученные данные в переменную money_title

In [22]:
money_title

,title,money,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

### 4. Самопроверка при анализе данных

##### Проверим данные на логическую НЕПРОТИВОРЕЧИВОСТЬ:
в money_title получилось 6 курсов, по этому посмотрим количество курсов в исходном датафрейме.

In [23]:
df.title.unique()  # 6 Уникальных курсов было в исходном датафрейме
# Количество курсов равно ✓

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

Сравним суммарное количество денег в исходном ДФ и после преобразований

In [24]:
all_money, money_title.money.sum()

(992103.5900000001, 992103.59)

In [25]:
if int(all_money) == int(money_title.money.sum()):
    print('OK')
else:
    print('Money ERROR!!!')
# Количество денег равно ✓

OK

### 5. Автоматизация скучной работы

In [26]:
today_date = datetime.today().strftime('%Y-%m-%d')  # Сегодняшняя дата
file_name = 'money_title_{}.csv'  # Заготовка для сохранения в csv
file_name = file_name.format(today_date)

In [27]:
today_date

'2023-05-03'

In [28]:
if int(all_money) == int(money_title.money.sum()):
    print('OK, File {} is written!'.format(file_name))
    money_title.to_csv(file_name, index=False)
else:
    print('Money ERROR!!!')

OK, File money_title_2023-05-03.csv is written!

In [29]:
df.title

0                                Курс обучения «Эксперт»
1                                Курс обучения «Эксперт»
2                             Курс обучения «Специалист»
3                            Курс обучения «Консультант»
4                                Курс обучения «Эксперт»
                             ...
287    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
288                          Курс обучения «Консультант»
289                          Курс обучения «Консультант»
290    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
291    Курс от Школы Диетологов. Повышение квалификац...
Name: title, Length: 292, dtype: object