In [2]:
import pandas as pd

In [3]:
taxi = pd.read_csv('2_taxi_nyc.csv')

In [4]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [5]:
taxi.tail()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [6]:
taxi.shape

(29101, 14)

In [7]:
rows, cols = taxi.shape

In [8]:
print(f'{rows = }, {cols = }')

rows = 29101, cols = 14

In [9]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [10]:
taxi.dtypes.describe()

count          14
unique          3
top       float64
freq            9
dtype: object

In [11]:
taxi = taxi.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})

In [12]:
taxi.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp_01', 'pcp_06', 'pcp_24', 'sd'],
      dtype='object')

In [13]:
taxi.query('borough == "Manhattan"').shape[0]  # Записи, которые относятся к району Манхеттен

4343

In [14]:
taxi['borough'].value_counts(), taxi.borough.value_counts()  # Количество поездок, которые встречаются в разных районах

(Bronx            4343
 Brooklyn         4343
 EWR              4343
 Manhattan        4343
 Queens           4343
 Staten Island    4343
 Name: borough, dtype: int64,
 Bronx            4343
 Brooklyn         4343
 EWR              4343
 Manhattan        4343
 Queens           4343
 Staten Island    4343
 Name: borough, dtype: int64)

In [15]:
taxi.pickups.sum()  # Общее количество поездок

14265773

In [16]:
taxi.groupby('borough').aggregate({'pickups': 'sum'}).sort_values(by='pickups', axis=0, ascending=False)
# Сортировка пунктов поездок по количеству поездок

                pickups
borough
Manhattan      10367841
Brooklyn        2321035
Queens          1343528
Bronx            220047
Staten Island      6957
EWR                 105

In [17]:
taxi.groupby('borough').pickups.sum().sort_values(ascending=False)

borough
Manhattan        10367841
Brooklyn          2321035
Queens            1343528
Bronx              220047
Staten Island        6957
EWR                   105
Name: pickups, dtype: int64

In [18]:
taxi.groupby('borough').pickups.idxmin().sort_values(ascending=False)

borough
Queens           4114
Manhattan        4113
Brooklyn         4111
Bronx            4104
Staten Island      40
EWR                 2
Name: pickups, dtype: int64

In [19]:
taxi.groupby('borough').pickups.sum().idxmin()

'EWR'

In [20]:
min_pickups = taxi.groupby('borough').aggregate({'pickups': 'sum'}).idxmin()[0]

In [21]:
min_pickups

'EWR'

In [22]:
taxi.groupby(['borough', 'hday']).describe()

                   pickups                                                    \
                     count         mean          std    min      25%     50%
borough       hday
Bronx         N     4176.0    50.771073    31.095346    0.0    30.00    46.0
              Y      167.0    48.065868    29.295367    8.0    26.00    40.0
Brooklyn      N     4176.0   534.727969   294.820955    0.0   331.00   494.0
              Y      167.0   527.011976   295.329079   94.0   342.50   446.0
EWR           N     4176.0     0.023467     0.159114    0.0     0.00     0.0
              Y      167.0     0.041916     0.201000    0.0     0.00     0.0
Manhattan     N     4176.0  2401.302921  1438.621328    0.0  1241.75  2280.0
              Y      167.0  2035.928144  1288.448276  319.0   985.50  1943.0
Queens        N     4176.0   308.899904   153.441165    0.0   197.00   308.0
              Y      167.0   320.730539   176.111425   44.0   189.00   293.0
Staten Island N     4176.0     1.606082     1.637510    0.0     0.00     1.0
              Y      167.0     1.497006     1.714131    0.0     0.00     1.0

                                       spd            ...  pcp_24        \
                       75%     max   count      mean  ...     75%   max
borough       hday                                    ...
Bronx         N       66.0   262.0  4176.0  6.004750  ...  0.0500  1.89
              Y       66.5   152.0   167.0  5.882236  ...  0.2175  2.10
Brooklyn      N      674.0  2009.0  4176.0  6.004750  ...  0.0500  1.89
              Y      710.5  1601.0   167.0  5.882236  ...  0.2175  2.10
EWR           N        0.0     2.0  4176.0  6.004750  ...  0.0500  1.89
              Y        0.0     1.0   167.0  5.882236  ...  0.2175  2.10
Manhattan     N     3318.5  7883.0  4176.0  6.004750  ...  0.0500  1.89
              Y     2644.0  5330.0   167.0  5.882236  ...  0.2175  2.10
Queens        N      409.0   831.0  4176.0  6.004750  ...  0.0500  1.89
              Y      444.5   784.0   167.0  5.882236  ...  0.2175  2.10
Staten Island N        2.0    13.0  4176.0  6.004750  ...  0.0500  1.89
              Y        2.0    12.0   167.0  5.882236  ...  0.2175  2.10

                        sd                                               \
                     count      mean       std  min  25%  50%       75%
borough       hday
Bronx         N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000
Brooklyn      N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000
EWR           N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000
Manhattan     N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000
Queens        N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000
Staten Island N     4176.0  2.542325  4.548396  0.0  0.0  0.0  2.916667
              Y      167.0  2.390719  3.779857  0.0  0.0  0.0  8.000000


                       max
borough       hday
Bronx         N     19.000
              Y      8.875
Brooklyn      N     19.000
              Y      8.875
EWR           N     19.000
              Y      8.875
Manhattan     N     19.000
              Y      8.875
Queens        N     19.000
              Y      8.875
Staten Island N     19.000
              Y      8.875

[12 rows x 80 columns]

In [23]:
taxi.groupby(['borough', 'hday']).pickups.mean().to_frame()  # to_frame - превращает series в ДФ, в JN лучше выглядит в Pycharm одинаково

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

In [24]:
taxi.groupby(['borough', 'hday']).pickups.mean()

borough        hday
Bronx          N         50.771073
               Y         48.065868
Brooklyn       N        534.727969
               Y        527.011976
EWR            N          0.023467
               Y          0.041916
Manhattan      N       2401.302921
               Y       2035.928144
Queens         N        308.899904
               Y        320.730539
Staten Island  N          1.606082
               Y          1.497006
Name: pickups, dtype: float64

In [25]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [26]:
(taxi.groupby(['borough', 'pickup_month'], as_index=False)
    .agg({'pickups': 'sum'})
    .sort_values(by='pickups', ascending=False))

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

In [27]:
pickups_by_mon_bor = (taxi.groupby(['borough', 'pickup_month'], as_index=False)
    .agg({'pickups': 'sum'})
    .sort_values(by='pickups', ascending=False))

In [28]:
type(pickups_by_mon_bor)

pandas.core.frame.DataFrame

In [29]:
def temp_to_celsius(f):
    c = ((f - 32) * 5) / 9
    return c

In [30]:
print(round(temp_to_celsius(100), 2))

37.78

In [31]:
taxi.temp[:5]

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
Name: temp, dtype: float64

In [32]:
taxi['temp'][:5]

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
Name: temp, dtype: float64

In [33]:
taxi['temp_C'] = temp_to_celsius(taxi['temp'])

In [34]:
taxi['temp_C'][:5]

0   -1.111111
1   -1.111111
2   -1.111111
3   -1.111111
4   -1.111111
Name: temp_C, dtype: float64